/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/vendor/*
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vendor/unisharp/laravel-ckeditor/
public/vendor/unisharp/laravel-ckeditor/lang/*.js
public/vendor/unisharp/laravel-ckeditor/lang/*.js
public/vendor/unisharp/laravel-ckeditor/plugins
public/vendor/unisharp/laravel-ckeditor/adapters

node_modules/*
/public/vendor/*