// @font-face {
//     font-family: iransans;
//     font-size: 40px;
//     src: url('fonts/iransans.ttf');
// }

@font-face {
    font-family: BRoya;
    font-size: 40px;
    src: url('fonts/BRoya.ttf');
}


body {
    direction: rtl !important;
    font-family: iransans;
}

code {
    direction: ltr !important;
    background-color: #222222;
    border: 1px solid green;
    border-radius: 5px;
    display: block;
    padding: 15px;
    color: white;
}

// div {
//     direction: rtl !important;
// }

// a {
//     font-size: 20px;
// }


// input {
//     direction: ltr !important;
// }

// h2 {
//     direction: rtl !important;

// }
// h2, h3, h4, h5, h6 {
//     direction: rtl !important;
// }

// td {
//     direction: rtl !important;
//     float: right;
// }

// table {
//     direction: rtl !important;
// }
// tr {
//     direction: rtl !important;
// }
